<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MyApp</a>
<div class="container">
    <div class="collapse navbar-collapse justify-content-between">
      <!-- Left: Menu Links -->
      <ul class="navbar-nav d-flex flex-row gap-3">
        <li class="nav-item">
          <a class="nav-link text-white " routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/user_add">users</a>
        </li>
      </ul>

      <!-- Right: Buttons -->
      <div class="d-flex gap-4">
        <button class="btn btn-success">Login</button>
        <button class="btn btn-outline-light">Signup</button>
      </div>
    </div>
    </div>
  </div>
</nav>
